
cluster_certificate_authority_data = "${cluster_certificate_authority_data}"
cluster_endpoint = "${cluster_endpoint}"
oidc_provider = "${oidc_provider}"
oidc_provider_arn = "${oidc_provider_arn}"
vpc_id = "${vpc_id}"